/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  /* Navigation Bar Styles */
  .navbar {
    background: linear-gradient(to right, #3498db, #2980b9) !important;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 10px; /* Rounded corners */
  }
  
  .navbar-brand {
    color: #fff !important;
    font-weight: bold;
    font-size: 1.8rem;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-brand:hover {
    color: #f0f0f0 !important;
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  
  .nav-link {
    color: #fff !important;
    font-size: 1.2rem;
    margin: 0 15px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #f0f0f0 !important;
    transform: translateY(-3px); /* Move link up slightly on hover */
  }
  
  .active {
    color: #f0f0f0 !important;
    border-bottom: 2px solid #f0f0f0;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      padding: 10px;
    }
  
    .navbar-brand {
      font-size: 1.5rem;
    }
  
    .nav-link {
      font-size: 1rem;
      margin: 0 10px;
    }
  }
  